<div class="container">
  <h1 tabindex="0">Login</h1>
  <form>
    <div class="username">
      <label tabindex="0" for="user_txt"> User Name</label>
      <input value="" tabindex="0" id="user_txt" type="text" />
    </div>
    <div class="passcode">
      <label tabindex="0" for="password"> Password </label>
      <input value="" tabindex="0" id="password" type="password" />
    </div>
    <div class="submit">
      <input type="submit" tabindex="0" class="submit" />
    </div>
  </form>
</div>
